.addposts {
    &__container {
       button {
           margin-left: 30rem;
           margin-top: 1rem;
           margin-bottom: 1rem;
       }
       textarea {
           resize: none;
           min-height: 75px;
           margin-top: 1rem;
       }
    }
}

.myposts {
    margin-bottom: 1rem;
    &__container {
        border: 1px solid black;
        border-radius: 5px;
        .myposts__text {
            padding: 1rem;
            text-align:left;
            p {
                margin: 0;
            }
        }
    }
}