.navbar {
    max-width: 200px;
    &__lists {
        
        padding: 1rem;
        li {
            list-style-type: none;
            margin-bottom: 1rem;
            font-size: 25px;
            
        }
    }
}
