$base: 4px;

.messanger-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;

    &-left {
        .messanger-list {
            list-style: none;
            font-size: 16px;

            li {
                flex-direction: column;
                justify-content: space-between;

                cursor: pointer;
                padding-bottom: $base * 2;

                &:hover {
                    font-size: 17px;
                    transition: font-size .2s ease;
                }
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
    &-right {
        margin-left: $base * 50;
        
        .messanger-dialogs {
            padding-bottom: $base * 10;
            &-ava {
                width: $base * 8;
                height: $base * 8;
                background-color: blanchedalmond;
                border-radius: 100%;
            }
            &-text {
            }
        &-group {
            display: flex;
            align-items: center;
            input {
                height: $base * 9;
                border-radius: 5px;
                margin-right: $base * 2;
            }
        }
            
        }
    }

    .vl {
        border-left: 1px solid green;
        height: 100%;
    }
}
