
.profile {
    &__container {
        display: flex;
        justify-content: space-between;      
        .profile__img-block {
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
        }

        .profile__user-info {
            font-size: 18px;
            word-wrap: break-word;
        }

        .profile__info-block {
            ul, li {
                list-style-type: none;
                margin: 0;
                padding: 0;
                margin-bottom: 5px;
            }
            margin-left: 15px;
            width: 300px;
            
            
        
            padding: 10px;
            border-radius: 5px;
            background-color: #fff;
        }
        
    }
}


